---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Bubble from "../../components/Bubble.astro";
import BubbleContainer from "../../components/BubbleContainer.astro";
import Item from "../../components/Item.astro";
import Link from "../../components/Link.astro";
import Photo from "../../components/Photo.astro";
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = (async () => {
  const highlights = await getCollection("highlights");

  return highlights.map((highlight) => {
    return {
      params: {
        slug: highlight.data.titolo.toLowerCase().replace(/\s/g, "-"),
      },
      props: {
        highlight,
      },
    };
  });
}) satisfies GetStaticPaths;

const { highlight } = Astro.props;
const paragraphs = highlight.body.split("\n");
const paragraphsFiltered = paragraphs.filter((paragraph) => paragraph !== "");
---

<Layout title={highlight.data.titolo}>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        {
          highlight.data.url ? (
            <p>
              <Link
                href={highlight.data.url}
                blank={true}
                text={highlight.data.titolo}
              />
            </p>
          ) : (
            <p class="font-medium text-white">{highlight.data.titolo}</p>
          )
        }
      </Bubble>
      <Bubble>
        <p>{highlight.data.autore}, {highlight.data.anno}</p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      {
        paragraphsFiltered.map((paragraph) => (
          <Bubble>
            <p>{paragraph}</p>
          </Bubble>
        ))
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble seen={true}>
        <p>Go <Link href="/highlights" blank={false} text="back" /></p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
