---
import type { GetStaticPaths } from "astro";
import Bubble from "../../components/Bubble.astro";
import BubbleContainer from "../../components/BubbleContainer.astro";
import Item from "../../components/Item.astro";
import Link from "../../components/Link.astro";
import Photo from "../../components/Photo.astro";
import Layout from "../../layouts/Layout.astro";
import type { Frontmatter } from "../../types";

export const getStaticPaths = (async () => {
  const highlights = await Astro.glob<Frontmatter>("../../highlights/*.md");

  return highlights.map((highlight) => {
    return {
      params: {
        slug: highlight.frontmatter.titolo.toLowerCase().replace(/\s/g, "-"),
      },
      props: {
        highlight,
      },
    };
  });
}) satisfies GetStaticPaths;

const { highlight } = Astro.props;
const { Content } = Astro.props.highlight;
console.log(Content);
---

<Layout title={highlight.frontmatter.titolo}>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p class="font-medium text-white">{highlight.frontmatter.titolo}</p>
      </Bubble>
      <Bubble>
        <p>{highlight.frontmatter.autore}</p>
      </Bubble>
      <Bubble>
        <p>{highlight.frontmatter.anno}</p>
      </Bubble>
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <div class="space-y-4">
          <Content />
        </div>
      </Bubble>
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Go <Link href="/highlights" blank={false} text="back" /></p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
