---
import Bubble from "../../components/Bubble.astro";
import BubbleContainer from "../../components/BubbleContainer.astro";
import Item from "../../components/Item.astro";
import Link from "../../components/Link.astro";
import Photo from "../../components/Photo.astro";
import Layout from "../../layouts/Layout.astro";
import type { Frontmatter } from "../../types.ts";

const highlights = await Astro.glob<Frontmatter>("../../highlights/*.mdx");
---

<Layout title="Highlights">
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Books</p>
      </Bubble>
      {
        highlights
          .filter((highlight) => highlight.frontmatter.tipologia === "libri")
          .sort((a, b) => b.frontmatter.anno - a.frontmatter.anno)
          .map((highlight) => {
            return (
              <Bubble>
                <p>
                  <Link
                    href={`/highlights/${highlight.frontmatter.titolo
                      .toLowerCase()
                      .replace(/\s/g, "-")}`}
                    text={highlight.frontmatter.titolo}
                    blank={false}
                  />{" "}
                  by {highlight.frontmatter.autore}
                </p>
              </Bubble>
            );
          })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Articles</p>
      </Bubble>
      {
        highlights
          .filter((highlight) => highlight.frontmatter.tipologia === "articoli")
          .sort((a, b) => b.frontmatter.anno - a.frontmatter.anno)
          .map((highlight) => {
            return (
              <Bubble>
                <p>
                  <Link
                    href={`/highlights/${highlight.frontmatter.titolo
                      .toLowerCase()
                      .replace(/\s/g, "-")}`}
                    text={highlight.frontmatter.titolo}
                    blank={false}
                  />{" "}
                  by {highlight.frontmatter.autore}
                </p>
              </Bubble>
            );
          })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          Go <Link href="/" blank={false} text="back" />
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
