---
export const prerender = false;
import { getBooks } from "../api/books";
import Bubble from "../components/Bubble.astro";
import BubbleContainer from "../components/BubbleContainer.astro";
import Item from "../components/Item.astro";
import Link from "../components/Link.astro";
import Photo from "../components/Photo.astro";
import Layout from "../layouts/Layout.astro";

interface Book {
  author: string;
  created_at: string;
  favorite: boolean;
  finished: string | null;
  id: number;
  img: string;
  owner: string;
  status: string;
  title: string;
  updated_at: string;
}

const { reading, read, toRead } = await getBooks();
---

<Layout title="Books">
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Reading</p>
      </Bubble>
      {
        reading.map((book: Book) => {
          return (
            <Bubble>
              <p>
                <span class="font-medium text-white">{book.title}</span> by{" "}
                {book.author}
              </p>
            </Bubble>
          );
        })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Read</p>
      </Bubble>
      {
        read.map((book: Book) => {
          return (
            <Bubble>
              <p>
                <span class="font-medium text-white">{book.title}</span> by{" "}
                {book.author}
              </p>
            </Bubble>
          );
        })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>To Read</p>
      </Bubble>
      {
        toRead.map((book: Book) => {
          return (
            <Bubble>
              <p>
                <span class="font-medium text-white">{book.title}</span> by{" "}
                {book.author}
              </p>
            </Bubble>
          );
        })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          All my books <Link
            href="https://bklst.matteotagliatti.it/matteotagliatti"
            text="here"
          />
        </p>
      </Bubble>
      <Bubble>
        <p>
          Go <Link href="/" blank={false} text="back" />
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
