---
export const prerender = false;
import { getTopTracks } from "../api/spotify";
import Bubble from "../components/Bubble.astro";
import BubbleContainer from "../components/BubbleContainer.astro";
import Item from "../components/Item.astro";
import Link from "../components/Link.astro";
import Photo from "../components/Photo.astro";
import Layout from "../layouts/Layout.astro";

interface SpotifySong {
  name: string;
  artists: {
    name: string;
  }[];
  external_urls: {
    spotify: string;
  };
}

interface Song {
  name: string;
  artist: string;
  url: string;
}

const data = await getTopTracks();
let songs: Song[] | null = null;

if (data.items) {
  songs = data.items.map((song: SpotifySong) => {
    return {
      name: song.name,
      artist: song.artists[0].name,
      url: song.external_urls.spotify,
    };
  });
}
---

<Layout title="Music">
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>Top Tracks</p>
      </Bubble>
      {
        songs.map((song) => {
          return (
            <Bubble>
              <p>
                <Link href={song.url} text={song.name} /> by {song.artist}
              </p>
            </Bubble>
          );
        })
      }
    </BubbleContainer>
  </Item>
  <Item>
    <Photo />
    <BubbleContainer>
      <Bubble>
        <p>
          My <Link
            href="https://open.spotify.com/user/matteotagliatti"
            text="Spotify"
          /> profile
        </p>
      </Bubble>
      <Bubble seen={true}>
        <p>
          Go <Link href="/" blank={false} text="back" />
        </p>
      </Bubble>
    </BubbleContainer>
  </Item>
</Layout>
